.project{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin-top: 46px;
	padding-bottom: 64px;
	.column-tit{
		width: 100%;
		display: block;
		overflow: hidden;
		position: relative;
		.leftline{
			display: block;
			height: 1px;
			background: #cdd6dd;
			position: absolute;
			top: 32px;
			width: 60%;
		}
		.project-tit{
			display: block;
			overflow: hidden;
			height: 64px;
			.bg-bai;
			position: relative;
			.iconbox{
				display: inline-block;
				vertical-align: top;
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				border: 1px solid #cdd6dd;
				.text-ac;
				line-height: 64px;
				margin-right: 20px;
			}
			.text{
				line-height: 34px;
			}
		}
	}
}
.project-column{
	display: block;
	position: relative;
	li.project-box{
		display: block;
		width: 25%;
		height: 400px;
		.l-left;
		margin-top: 48px;
		position: relative;
		-webkit-transition: .3s cubic-bezier(.3,0,0,1.3);
		transition: .3s cubic-bezier(.3,0,0,1.3);
		.infobox{
			height: 284px;
			padding: 58px 30px;
			background-size: 100%;
			>h2{
				line-height: 48px;
			}
			.textline{
				display: block;
				height: 1px;
				width: 56px;
				.bg-red;
				margin: 12px 0;
			}
			.infotext{
				line-height: 24px;
			}
		}
		.popbox{
			.bg-red;
			color: #fff;
			height: 80%;
			width: 80%;
			padding: 10% 25% 10% 15%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			-webkit-transition: .3s cubic-bezier(.3,0,0,1.37);
			transition: .3s cubic-bezier(.3,0,0,1.37);
			>h2{
				line-height: 48px;
			}
			.textline{
				display: block;
				height: 1px;
				width: 56px;
				.bg-hei;
				margin: 18px 0;
			}
			.infotext{
				line-height: 24px;
			}
			
		}
	}
	li:hover.project-box{
		-webkit-transform: scale(.7);
		-ms-transform: scale(.7);
		transform: scale(.7);
		z-index: 3000;
		.popbox{
			opacity: 1;
			-webkit-transform: scale(1.6);
			-ms-transform: scale(1.6);
			transform: scale(1.6);
			box-shadow: 0 0 10px 2px rgba(0,0,0,.4);
		}
	}
	.GBinfo{
		background: url(../../UploadFile/PcSite/project01.png) center center no-repeat;
	}
	.Electronic{
		background: url(../../UploadFile/PcSite/project02.png) center center no-repeat;
	}
	.Pension{
		background: url(../../UploadFile/PcSite/project03.png) center center no-repeat;
	}
	.Healthcare{
		background: url(../../UploadFile/PcSite/project04.png) center center no-repeat;
	}
}