.project{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin-top: 46px;
	padding-bottom: 64px;
	.column-tit{
		width: 100%;
		display: block;
		overflow: hidden;
		position: relative;
		.leftline{
			display: block;
			height: 1px;
			background: #cdd6dd;
			position: absolute;
			top: 32px;
			width: 60%;
		}
		.project-tit{
			display: block;
			overflow: hidden;
			height: 64px;
			.bg-bai;
			position: relative;
			.iconbox{
				display: inline-block;
				vertical-align: top;
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				border: 1px solid #cdd6dd;
				.text-ac;
				line-height: 64px;
				margin-right: 20px;
			}
			.text{
				line-height: 34px;
			}
		}
	}
}
.project-column{
	display: block;
	position: relative;
	li.project-box{
		display: block;
		width: 25%;
		height: 400px;
		.l-left;
		margin-top: 48px;
		position: relative;
		transition: all 0.3s cubic-bezier(.3,0,0,1.3);
		-webkit-transition: all 0.3s cubic-bezier(.3,0,0,1.3);
		-moz-transition: all 0.3s cubic-bezier(.3,0,0,1.3);
		-o-transition: all 0.3s cubic-bezier(.3,0,0,1.3);
		.infobox{
			height: 284px;
			padding: 58px 30px;
			background-size: 100%;
			>h2{
				line-height: 48px;
			}
			.textline{
				display: block;
				height: 1px;
				width: 56px;
				.bg-red;
				margin: 12px 0;
			}
			.infotext{
				line-height: 24px;
			}
		}
		.popbox{
			.bg-red;
			color: #fff;
			height: 86%;
			width: 70%;
			padding: 10% 25% 10% 15%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			-webkit-transition: .3s cubic-bezier(.3,0,0,1.37);
			transition: .3s cubic-bezier(.3,0,0,1.37);
			>h2{
				line-height: 48px;
			}
			.textline{
				display: block;
				height: 1px;
				width: 56px;
				.bg-hei;
				margin: 18px 0;
			}
			.infotext{
				display: block;
				overflow: hidden;
				line-height: 24px;
			}
			.btn-checkmore{
				display: inline-block;
				margin: 12px 0;
				border: 1px solid #fff;
				padding: 14px 18px;
			}
		}
	}
	li:hover.project-box{
		-webkit-transform: scale(.7);
		-ms-transform: scale(.7);
		transform: scale(.7);
		z-index: 3000;
		.popbox{
			opacity: 1;
			-webkit-transform: scale(1.6);
			-ms-transform: scale(1.6);
			transform: scale(1.6);
			box-shadow: 0 0 10px 2px rgba(0,0,0,.4);
		}
	}
	.GBinfo{
		background: url(../../UploadFile/PcSite/project01.png) center center no-repeat;
	}
	.Electronic{
		background: url(../../UploadFile/PcSite/project02.png) center center no-repeat;
	}
	.Pension{
		background: url(../../UploadFile/PcSite/project03.png) center center no-repeat;
	}
	.Healthcare{
		background: url(../../UploadFile/PcSite/project04.png) center center no-repeat;
	}
}
.bigdata{
	display: block;
	overflow: hidden;
	height: 480px;
	background: #0f0f0f url(../../UploadFile/PcSite/bigdata-bg.png) center center no-repeat;
	background: url(../../UploadFile/PcSite/bigdata-bg.png) center center no-repeat /9;
	.column-tit{
		display: block;
		margin: 0 auto;
		.topline{
			display: block;
			width: 1px;
			height: 40px;
			background-color: #fff;
			margin: 0 auto;
		}
		.bigdata-tit{
			display: block;
			margin: 0 auto;
			text-align: center;
			.iconbox{
				display: block;
				width: 64px;
				height: 64px;
				border: 1px solid #fff;
				box-sizing: border-box;
				margin: 0 auto;
				line-height: 64px;
			}
			.text{
				line-height: 34px;
				margin-top: 12px;
			}
		}
	}
}
.bigdata-column{
	div.bigdatabox{
		display: block;
		position: relative;
		height: 160px;
		overflow: hidden;
		.text{
			display: block;
			overflow: hidden;
			padding: 14px 140px;
			line-height: 30px;
		}
		.checkmore{
			display: inline-block;
			width: 200px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			margin: 50px auto;
		}
	}
	div:hover.bigdatabox{
		.text{
			margin-top: -140px;
			transition: .6s;
		}
	}
	.bigdata-iconbox{
		display: block;
		overflow: hidden;
		.col-bai;
		margin: 20px 40px;
		li{
			display: block;
			.l-left;
			width: 25%;
			cursor: default;
			.iconbox{
				width: 78px;
				height: 78px;
				line-height: 78px;
				border-radius: 50%;
				transition: all .3s ease-in-out;
	            -webkit-transition: all .3s ease-in-out;
	            -moz-transition: all .3s ease-in-out;
	            -o-transition: all .3s ease-in-out;
				.l-left;
				.text-ac;
				.font36;
				display: inline-block;
				background: rgba(224, 71, 40, 0.5);
			}
			span{
				display: inline-block;
				margin-left: 12px;
				line-height: 78px;
				.font18;
				.fontw5;
				.l-left;
			}
		}
		li:hover{
			.iconbox{
				.bg-red;
				transform: rotate(360deg);
	            -webkit-transform: rotate(360deg);
	            -moz-transform: rotate(360deg);
	            -o-transform: rotate(360deg);
	            -ms-transform: rotate(360deg);
			}
		}
	}
}
.things{
	display: block;
	overflow: hidden;
	.bg-hui;
	.column-tit{
		display: block;
		.topline{
			display: block;
			width: 1px;
			height: 40px;
			background-color: #cdd6dd;
			margin-left: 32px;
		}
		.things-tit{
			display: block;
			overflow: hidden;
			height: 64px;
			.iconbox{
				display: inline-block;
				vertical-align: top;
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				border: 1px solid #cdd6dd;
				.text-ac;
				line-height: 64px;
				margin-right: 20px;
			}
			.text{
				line-height: 34px;
			}
		}
	}
	.thingstext{
		.col-dhui;
		margin: 36px auto;
		line-height: 36px;
		.font18;
		>p{
			text-indent: 36px;
		}
	}
}
.column-list{
	display: block;
	overflow: hidden;
	padding-bottom: 48px;
	li.columnbox{
		display: block;
		overflow: hidden;
		.transition-all();
		.bg-bai;
		.l-left;
		border: 1px solid #ddd;
		width: 370px;
		height: 420px;
		margin: 0 11px;
		box-sizing: border-box;
		cursor: default;
		.pic{
			display: block;
			overflow: hidden;
			width: 370px;
			height: 240px;
			img{
				width: 100%;
				vertical-align: top;
				transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
			}
		}
		>a.title{
			display: block;
			width: 330px;
			height: 48px;
			line-height: 48px;
			padding: 0 20px;
			.bg-red;
			span{
				display: inline-block;
				.l-left;
				width: 300px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			>i{
				display: inline-block;
				width: 6px;
				transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				.l-right;
				img{
					width: 100%;
					vertical-align: middle;
				}
			}
		}
		.infobox{
			height: 68px;
			overflow : hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			padding: 10px 20px;
			line-height: 24px;
			border-bottom: 1px solid #ddd;
		}
		.column-time{
			height: 40px;
			padding: 0 20px;
			>i{
				line-height: 36px;
				margin-right: 4px;
			}
			>span{
				line-height: 40px;
			}
		}
	}
	li:hover.columnbox{
		box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
		.transition-all();
		.title{
			>i{
				margin-right: 12px;
				transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
			}
		}
		.pic{
			img{
				transform: scale(0.95);
			    -ms-transform: scale(0.95);
			    -moz-transform: scale(0.95);
			    -webkit-transform: scale(0.95);
			    -o-transform: scale(0.95)
			}
		}
	}
}
.news{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin-top: 46px;
	padding-bottom: 46px;
	.column-tit{
		width: 100%;
		display: block;
		overflow: hidden;
		position: relative;
		.leftline{
			display: block;
			height: 1px;
			background: #cdd6dd;
			position: absolute;
			top: 32px;
			width: 60%;
		}
		.news-tit{
			display: block;
			overflow: hidden;
			height: 64px;
			.bg-bai;
			position: relative;
			.iconbox{
				display: inline-block;
				vertical-align: top;
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				border: 1px solid #cdd6dd;
				.text-ac;
				line-height: 64px;
				margin-right: 20px;
			}
			.text{
				width: 800px;
				line-height: 34px;
				.l-left;
			}
			a.checkmore{
				display: block;
				.l-right;
				padding: 11px 22px;
				.bg-red;
				.col-bai;
				margin-top: 14px;
			}
		}
	}
}
.column-news{
	display: block;
	overflow: hidden;
	padding: 18px 0;
	.leftbox{
		width: 50%;
		.l-left;
		border-right: 1px solid #ddd;
		box-sizing: border-box;
	}
	.rightbox{
		display: block;
		.l-right;
		width: 50%;
	}
	.newsbox{
		display: block;
		overflow: hidden;
		padding: 22px 0;
		.time{
			display: inline-block;
			width: 100px;
			.l-left;
			>p{
				margin-bottom: 8px;
			}
		}
		.leftline{
			display: inline-block;
			width: 2px;
			height: 26px;
			.bg-red;
			.l-left;
		}
		a.title{
			display: inline-block;
			.l-left;
			.font24;
			.col-hei;
			width: 430px;
			margin-left: 24px;
			line-height: 28px;
			overflow : hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		a:hover.title,a:active.title,a.active.title{
			.col-dhui;
			text-decoration: underline;
		}
	}
}
.partner{
	display: block;
	overflow: hidden;
	width: 1098px;
	padding: 0 44px;
	margin: 48px auto;
	position: relative;
	.partnerbox{
		border: 1px solid #ddd;
		box-sizing: border-box;
		img{
			width: 100%;
		}
	}
	.swiper-button-prev,.swiper-button-next {
		width: 20px;
		height: 48px;
		background-size: 100%;
	}
	.swiper-button-prev1{
		background-image: url(../../Images/PcSite/arrow-prev-red.png);
	}
	.swiper-button-next1{
		background-image: url(../../Images/PcSite/arrow-next-red.png);
	}
}
.client{
	display: block;
	overflow: hidden;
	padding-top: 34px;
	li a.clientbox{
		display: block;
		overflow: hidden;
		width: 220px;
		height: 140px;
		border: 1px solid #ddd;
		box-sizing: border-box;
		.transition-all();
		.l-left;
		margin: 0 8px;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	li a:hover.clientbox{
		border: 1px solid #e04728;
		box-shadow: 0px 0px 8px rgba(7,17,27,.2);
		.transition-all();
	}
}
.contact{
	position: relative;
	top: 140px;
	background-color: #333;
	.contactbox{
		height: 340px;
		position: relative;
		top: -140px;
		background: url(../../UploadFile/PcSite/contact-bg.png) center center no-repeat;
		.column-tit{
			display: block;
			margin: 0 auto;
			.topline{
				display: block;
				width: 1px;
				height: 40px;
				background-color: #fff;
				margin: 0 auto;
			}
			.contact-tit{
				display: block;
				margin: 0 auto;
				text-align: center;
				.iconbox{
					display: block;
					width: 64px;
					height: 64px;
					border: 1px solid #fff;
					box-sizing: border-box;
					margin: 0 auto;
					line-height: 64px;
				}
				.text{
					line-height: 34px;
					margin-top: 12px;
				}
			}
		}
		.boxtext{
			margin-top: 42px;
			line-height: 46px;
			.text-ac;
			vertical-align: middle;
		}
	}
}
.footer{
	display: block;
	overflow: hidden;
	position: relative;
	padding-top: 34px;
	.logobox{
		display: block;
		width: 180px;
		height: 60px;
		.l-left;
		margin-left: 74px;
	}
	.footlink{
		display: block;
		overflow: hidden;
		line-height: 34px;
		.l-left;
		color: #ddd;
		margin-left: 48px;
		.title{
			display: inline-block;
			.l-left;
		}
		.linkbox{
			.l-left;
			>a{
				display: inline-block;
				margin: 0 14px;
			}
		}
		.sec{
			display: block;
			line-height: 34px;
			padding-left: 80px;
			>a{
				margin: 0 8px;
			}
		}
	}
}
.copyright{
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 56px;
	line-height: 56px;
	background-color: #000;
	margin-top: 24px;
	.sec{
		padding-left: 38px;
		.col-hui;
	}
}

/* 解决方案 */
.innerbanner{
	display: block;
	height: 266px;
	padding-top: 34px;
	.title{
		display: block;
		padding: 24px 0;
	}
	.info{
		line-height: 40px;
	}
}
.column-nav{
	display: block;
	.bg-hei;
	height: 54px;
	line-height: 54px;
	position: relative;
	li{
		.col-bai;
		.l-left;
		padding: 0 34px;
		.transition-all();
		>a{
			i{
				display: inline-block;
				vertical-align: top;
				margin-right: 18px;
			}
			.font18;
		}
	}
	li:hover,.active{
		.bg-red;
		position: relative;
		z-index: 999;
		height: 66px;
		line-height: 66px;
		top: -6px;
		box-shadow: 0px 0px 5px #333;
		.transition-all();
	}
}
.column-map{
	margin-top: 30px;
	margin-bottom: 50px;
	color: #8e9ca5;
	font-size: 18px;
	a{
		padding-right: 32px;
	}
	em{
		font-family: '宋体';
		padding-right: 32px;
		font-weight: 600;
	}
	span{
		color: #333333;
	}
}

.column-title{
	border-bottom: #cdd6dd solid 1px;
	h2{
		display: inline-block;
		padding: 0 0 20px 0;
		border-bottom: #333 solid 3px;
		position: relative;
		margin-bottom: -2px;
		font-size: 24px;
	}
}
.project-items{
	padding:20px 0 60px 0;
	.project-text{
		width: 590px;
		font-size: 14px;
		color: #333333;
		line-height: 30px;
		text-indent: 32px;
	}
	.project-img{
		width: 420px;
	}
}
.project-case{
	padding-top: 34px;
	.column-list{
		overflow: visible;
		ul{
			display: inline-block;
			width: 1220px;
		}
		.columnbox{
			margin: 0 35px 0 0;
		}
	}
}

.projectinfo-box{
	width: 750px;
	padding:20px 0;
	overflow-x: hidden;
	.title{
		padding-bottom: 20px;
		font-size: 24px;
		color: #333333;
	}
	.time{
		padding-bottom: 6px;
		border-bottom: #cdd6dd solid 1px;
		font-size: 14px;
		color:#aaaaaa;
	}
	.article-box{
		padding: 20px 10px;
		font-size: 14px;
		line-height: 150%;
	    color: #333333;
	}
}
.projectinfo-recommend{
	width: 388px;
	padding-top: 38px;
}
.recommend-items{
	display: block;
	padding: 10px 0;
	ul{
		display: inline-block;
		width: 100%;
	}
	li{
		margin-bottom: 10px;
		padding-top: 20px;
		border-bottom: #333333 solid 1px;
		text-align: center;
		.transition-all();
		&:hover{
			background: #fff;
			border-color: #fff;
			box-shadow: 0px 0px 8px rgba(7,17,27,.2);
			.transition-all();
		}
	}
	h3{
		font-size: 18px;
		padding:10px 10px 20px 10px;
		text-align: left;
		&:hover{
			.col-dhui  ();
			text-decoration: underline;
		}
	}
}

.news-box{
    width: 770px;
    padding: 20px 0;
}
.news-list{
	padding: 20px 0;
}
.news-items{
	padding:10px 0 20px 0;
	.time{
		width: 128px;
	    padding-top: 8px;
		.col-red();
		.date{
			font-size:18px;
			padding-bottom: 10px;
			border-right: #e04728 solid 3px;
			span{
				display: inline-block;
				padding-right: 14px;
			}
		}
		.year{
			font-size: 14px;
		}
	}
	.content.have-picture{
		width: 630px;
		.text{
			width: 400px;
			display: inline-block;
			.title{
				font-size: 24px;
				color: #333333;
				line-height: 36px;
				&:hover{
					.col-dhui();
					text-decoration: underline;
				}
			}
			.intro{
				font-size: 14px;
				color: #aaaaaa;
				line-height: 24px;
				.ellipsis(2);
			}
		}
		.img{
			width: 202px;
		}
	}
	.content.no-picture{
		width: 630px;
		.text{
			width: 628px;
			display: inline-block;
			.title{
				font-size: 24px;
				color: #333333;
				line-height: 36px;
				&:hover{
					.col-dhui();
					text-decoration: underline;
				}
			}
			.intro{
				width: 100%;
				font-size: 14px;
				color: #aaaaaa;
				line-height: 24px;
				.ellipsis(2);
			}
		}
	}
}
.news-recommend{
	padding-top: 20px;
	width: 380px;
	.newest-list{
		padding-top: 20px;
		li{
			display: block;
			width: 100%;
			padding:10px 0;
			a{
				display: block;
				font-size: 18px;
				color: #333;
				width: 100%;
				.ellipsis();
				&:hover{
					text-decoration: underline;
					.col-dhui();
				}
			}
			em{
				display: inline-block;
				padding-right: 4px;
				color: #333;
			}
		}
		li:nth-child(1) em,li:nth-child(2) em,li:nth-child(3) em{
			.col-red();
		}
	}
}
.media-report{
	margin-top: 30px;
}
// 新闻资讯
.recommend-read{
	padding-top: 20px;
	margin-bottom: 20px;
}
.recommend-read-box{
	padding-top: 20px;
	.swiper-pagination-bullets{
		bottom: 5px !important;
	}
	.swiper-pagination-bullet-active{
		background: #e04728;
	}
}
.recommend-read-list{
	width: 100%;
	height: 170px !important;
	.title{
		width:100%;
		padding-bottom: 20px;
		.ellipsis();
		&:hover{
			text-decoration: underline;
			.col-dhui();
		}
	}
}
.recommend-read-items{
	.img{
		width: 160px;
	}
	.intro{
		width: 210px;
		color: #aaaaaa;
		line-height:24px;
		.ellipsis(4);
	}
}
// 翻页样式
.page-box{
	text-align: center;
	ul{
		display: inline-block;
		.l-float();
	}
	li{
		float: left;
		display: inline-block;
		margin-right: 10px;
		padding: 0;
		a{
			padding: 1px 6px;
			border: #333 solid 1px;
			.border-radius(3px);
		}
		span{
			padding: 1px 6px;
			.border-radius(3px);
		}
		.omit{
		}
		.prev,.active,.next{
			border: #e04728 solid 1px;
			.col-red();
		}
	}
}

.job-box{
	padding: 20px 0;
}
.job-items{
	margin-bottom: 20px;
	padding: 20px 15px;
	border:#ddd solid 1px;
	border-left: #e04728 solid 3px;
	.jianjie{
		width: 320px;
		height: 190px;
		border-right: #ddd dashed 1px;
	}
	.miaoshu{
		width: 800px;
		h4{
			font-size: 14px;
			padding-bottom: 4px;
		}
		p{
			font-size: 14px;
			line-height: 30px;
		}
	}
}