.animation-sx {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.animation-sx:hover .animation-sx-item {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.animation-ydz {
  -moz-transition: transform 0.2s linear 0s;
  -o-transition: transform 0.2s linear 0s;
  -webkit-transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
}
.animation-ydz:hover {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}
.animation-ydy {
  -moz-transition: transform 0.2s linear 0s;
  -o-transition: transform 0.2s linear 0s;
  -webkit-transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
}
.animation-ydy:hover {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
.animation-soux img {
  transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -webkit-transition: all .6s;
}
.animation-soux:hover img {
  transform: scale(0.95);
  -ms-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.bg-hui {
  background-color: #f0efef !important;
}
.bg-dhui {
  background-color: #aaa !important;
}
.bg-bai {
  background-color: #fff;
}
.bg-grayblue {
  background-color: #eaeef1;
}
.bg-red {
  background-color: #e04728;
}
.bg-hei {
  background-color: #333;
}
.bannerbox {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #f1f5f8;
  height: 400px;
  position: relative;
}
.bannerbox .swiper-slide {
  text-align: center;
}
.bannerbox img {
  width: auto;
  height: 400px;
  vertical-align: top;
}
.bannerbox .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 24px;
}
.bannerbox .bannertext {
  display: block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 100px;
  left: 20%;
  font-weight: normal;
  text-align: left;
  line-height: 40px;
  padding: 12px 24px;
}
.border {
  border: #ddd solid 1px;
}
.border-t {
  border-top: #ddd solid 1px;
}
.border-r {
  border-right: #ddd solid 1px;
}
.border-b {
  border-bottom: #ddd solid 1px;
}
.border-l {
  border-left: #ddd solid 1px;
}
.border-c1 {
  border-top: #2c3444 4px solid;
  border-right: #ddd 1px solid;
  border-left: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}
.border-xb {
  border-bottom: dashed #ddd 1px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
  box-sizing: border-box;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: #0d2c54;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
}
.btn-warning {
  color: #fff;
  background-color: #f7ab00;
}
.btn-danger {
  color: #fff;
  background-color: #ed6d00;
}
.btn-code {
  color: #fff;
  background-color: #f7ab00;
  border-color: #1291f1;
}
.project {
  display: block;
  overflow: hidden;
  background-color: #fff;
  margin-top: 46px;
  padding-bottom: 64px;
}
.project .column-tit {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.project .column-tit .leftline {
  display: block;
  height: 1px;
  background: #cdd6dd;
  position: absolute;
  top: 32px;
  width: 60%;
}
.project .column-tit .project-tit {
  display: block;
  overflow: hidden;
  height: 64px;
  background-color: #fff;
  position: relative;
}
.project .column-tit .project-tit .iconbox {
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #cdd6dd;
  text-align: center;
  line-height: 64px;
  margin-right: 20px;
}
.project .column-tit .project-tit .text {
  line-height: 34px;
}
.project-column {
  display: block;
  position: relative;
}
.project-column li.project-box {
  display: block;
  width: 25%;
  height: 400px;
  float: left;
  margin-top: 48px;
  position: relative;
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.project-column li.project-box .infobox {
  height: 284px;
  padding: 58px 30px;
  background-size: 100%;
}
.project-column li.project-box .infobox > h2 {
  line-height: 48px;
}
.project-column li.project-box .infobox .textline {
  display: block;
  height: 1px;
  width: 56px;
  background-color: #e04728;
  margin: 12px 0;
}
.project-column li.project-box .infobox .infotext {
  line-height: 24px;
}
.project-column li.project-box .popbox {
  background-color: #e04728;
  color: #fff;
  height: 86%;
  width: 70%;
  padding: 10% 25% 10% 15%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1.37);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.37);
}
.project-column li.project-box .popbox > h2 {
  line-height: 48px;
}
.project-column li.project-box .popbox .textline {
  display: block;
  height: 1px;
  width: 56px;
  background-color: #333;
  margin: 18px 0;
}
.project-column li.project-box .popbox .infotext {
  display: block;
  overflow: hidden;
  line-height: 24px;
}
.project-column li.project-box .popbox .btn-checkmore {
  display: inline-block;
  margin: 12px 0;
  border: 1px solid #fff;
  padding: 14px 18px;
}
.project-column li:hover.project-box {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  z-index: 3000;
}
.project-column li:hover.project-box .popbox {
  opacity: 1;
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}
.project-column .GBinfo {
  background: url(../../UploadFile/PcSite/project01.png) center center no-repeat;
}
.project-column .Electronic {
  background: url(../../UploadFile/PcSite/project02.png) center center no-repeat;
}
.project-column .Pension {
  background: url(../../UploadFile/PcSite/project03.png) center center no-repeat;
}
.project-column .Healthcare {
  background: url(../../UploadFile/PcSite/project04.png) center center no-repeat;
}
.bigdata {
  display: block;
  overflow: hidden;
  height: 480px;
  background: #0f0f0f url(../../UploadFile/PcSite/bigdata-bg.png) center center no-repeat;
  background: url(../../UploadFile/PcSite/bigdata-bg.png) center center no-repeat / 9;
}
.bigdata .column-tit {
  display: block;
  margin: 0 auto;
}
.bigdata .column-tit .topline {
  display: block;
  width: 1px;
  height: 40px;
  background-color: #fff;
  margin: 0 auto;
}
.bigdata .column-tit .bigdata-tit {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.bigdata .column-tit .bigdata-tit .iconbox {
  display: block;
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 64px;
}
.bigdata .column-tit .bigdata-tit .text {
  line-height: 34px;
  margin-top: 12px;
}
.bigdata-column div.bigdatabox {
  display: block;
  position: relative;
  height: 160px;
  overflow: hidden;
}
.bigdata-column div.bigdatabox .text {
  display: block;
  overflow: hidden;
  padding: 14px 140px;
  line-height: 30px;
}
.bigdata-column div.bigdatabox .checkmore {
  display: inline-block;
  width: 200px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin: 50px auto;
}
.bigdata-column div:hover.bigdatabox .text {
  margin-top: -140px;
  transition: .6s;
}
.bigdata-column .bigdata-iconbox {
  display: block;
  overflow: hidden;
  color: #fff;
  margin: 20px 40px;
}
.bigdata-column .bigdata-iconbox li {
  display: block;
  float: left;
  width: 25%;
  cursor: default;
}
.bigdata-column .bigdata-iconbox li .iconbox {
  width: 78px;
  height: 78px;
  line-height: 78px;
  border-radius: 50%;
  float: left;
  text-align: center;
  font-size: 36px;
  display: inline-block;
  background: rgba(224, 71, 40, 0.5);
}
.bigdata-column .bigdata-iconbox li span {
  display: inline-block;
  margin-left: 12px;
  line-height: 78px;
  font-size: 18px;
  font-weight: 500;
  float: left;
}
.bigdata-column .bigdata-iconbox li:hover .iconbox {
  background-color: #e04728;
}
.things {
  display: block;
  overflow: hidden;
  background-color: #f0efef !important;
}
.things .column-tit {
  display: block;
}
.things .column-tit .topline {
  display: block;
  width: 1px;
  height: 40px;
  background-color: #cdd6dd;
  margin-left: 32px;
}
.things .column-tit .things-tit {
  display: block;
  overflow: hidden;
  height: 64px;
}
.things .column-tit .things-tit .iconbox {
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #cdd6dd;
  text-align: center;
  line-height: 64px;
  margin-right: 20px;
}
.things .column-tit .things-tit .text {
  line-height: 34px;
}
.things .thingstext {
  color: #8e9ca5;
  margin: 36px auto;
  line-height: 36px;
  font-size: 18px;
}
.things .thingstext > p {
  text-indent: 36px;
}
.column-list {
  display: block;
  overflow: hidden;
  padding-bottom: 48px;
}
.column-list li.columnbox {
  display: block;
  overflow: hidden;
  background-color: #fff;
  float: left;
  border: 1px solid #ddd;
  width: 370px;
  height: 420px;
  margin: 0 11px;
  box-sizing: border-box;
  cursor: default;
}
.column-list li.columnbox .pic {
  display: block;
  overflow: hidden;
  width: 370px;
  height: 240px;
}
.column-list li.columnbox .pic img {
  width: 100%;
  vertical-align: top;
}
.column-list li.columnbox > a.title {
  display: block;
  width: 330px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  background-color: #e04728;
}
.column-list li.columnbox > a.title span {
  display: inline-block;
  float: left;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.column-list li.columnbox > a.title > i {
  display: inline-block;
  width: 6px;
  float: right;
}
.column-list li.columnbox > a.title > i img {
  width: 100%;
  vertical-align: middle;
}
.column-list li.columnbox .infobox {
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 10px 20px;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
}
.column-list li.columnbox .column-time {
  height: 40px;
  padding: 0 20px;
}
.column-list li.columnbox .column-time > i {
  line-height: 36px;
  margin-right: 4px;
}
.column-list li.columnbox .column-time > span {
  line-height: 40px;
}
.column-list li:hover.columnbox {
  box-shadow: 0px 0px 12px #ccc;
}
.column-list li:hover.columnbox .title > i {
  margin-right: 12px;
  transition: .3s;
}
.news {
  display: block;
  overflow: hidden;
  background-color: #fff;
  margin-top: 46px;
  padding-bottom: 46px;
}
.news .column-tit {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.news .column-tit .leftline {
  display: block;
  height: 1px;
  background: #cdd6dd;
  position: absolute;
  top: 32px;
  width: 60%;
}
.news .column-tit .news-tit {
  display: block;
  overflow: hidden;
  height: 64px;
  background-color: #fff;
  position: relative;
}
.news .column-tit .news-tit .iconbox {
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #cdd6dd;
  text-align: center;
  line-height: 64px;
  margin-right: 20px;
}
.news .column-tit .news-tit .text {
  width: 800px;
  line-height: 34px;
  float: left;
}
.news .column-tit .news-tit a.checkmore {
  display: block;
  float: right;
  padding: 11px 22px;
  background-color: #e04728;
  color: #fff;
  margin-top: 14px;
}
.column-news {
  display: block;
  overflow: hidden;
  padding: 18px 0;
}
.column-news .leftbox {
  width: 50%;
  float: left;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.column-news .rightbox {
  display: block;
  float: right;
  width: 50%;
}
.column-news .newsbox {
  display: block;
  overflow: hidden;
  padding: 22px 0;
}
.column-news .newsbox .time {
  display: inline-block;
  width: 100px;
  float: left;
}
.column-news .newsbox .time > p {
  margin-bottom: 8px;
}
.column-news .newsbox .leftline {
  display: inline-block;
  width: 2px;
  height: 26px;
  background-color: #e04728;
  float: left;
}
.column-news .newsbox a.title {
  display: inline-block;
  float: left;
  font-size: 24px;
  color: #333;
  width: 430px;
  margin-left: 24px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.column-news .newsbox a:hover.title,
.column-news .newsbox a:active.title,
.column-news .newsbox a.active.title {
  color: #8e9ca5;
  text-decoration: underline;
}
.partner {
  display: block;
  overflow: hidden;
  width: 1098px;
  padding: 0 44px;
  margin: 48px auto;
  position: relative;
}
.partner .partnerbox {
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.partner .partnerbox img {
  width: 100%;
}
.partner .swiper-button-prev,
.partner .swiper-button-next {
  width: 20px;
  height: 48px;
  background-size: 100%;
}
.partner .swiper-button-prev1 {
  background-image: url(../../Images/PcSite/arrow-prev-red.png);
}
.partner .swiper-button-next1 {
  background-image: url(../../Images/PcSite/arrow-next-red.png);
}
.client {
  display: block;
  overflow: hidden;
  padding-top: 34px;
}
.client li a.clientbox {
  display: block;
  overflow: hidden;
  width: 220px;
  height: 140px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  float: left;
  margin: 0 8px;
}
.client li a.clientbox img {
  width: 100%;
  vertical-align: top;
}
.client li a:hover.clientbox {
  border: 1px solid #e04728;
  box-shadow: 0px 0px 8px #aaa;
}
.contact {
  position: relative;
  top: 140px;
  background-color: #333;
}
.contact .contactbox {
  height: 340px;
  position: relative;
  top: -140px;
  background: url(../../UploadFile/PcSite/contact-bg.png) center center no-repeat;
}
.contact .contactbox .column-tit {
  display: block;
  margin: 0 auto;
}
.contact .contactbox .column-tit .topline {
  display: block;
  width: 1px;
  height: 40px;
  background-color: #fff;
  margin: 0 auto;
}
.contact .contactbox .column-tit .contact-tit {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.contact .contactbox .column-tit .contact-tit .iconbox {
  display: block;
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 64px;
}
.contact .contactbox .column-tit .contact-tit .text {
  line-height: 34px;
  margin-top: 12px;
}
.contact .contactbox .boxtext {
  margin-top: 42px;
  line-height: 46px;
  text-align: center;
  vertical-align: middle;
}
.footer {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 34px;
}
.footer .logobox {
  display: block;
  width: 180px;
  height: 60px;
  float: left;
  margin-left: 74px;
}
.footer .footlink {
  display: block;
  overflow: hidden;
  line-height: 34px;
  float: left;
  color: #ddd;
  margin-left: 48px;
}
.footer .footlink .title {
  display: inline-block;
  float: left;
}
.footer .footlink .linkbox {
  float: left;
}
.footer .footlink .linkbox > a {
  display: inline-block;
  margin: 0 14px;
}
.footer .footlink .sec {
  display: block;
  line-height: 34px;
  padding-left: 80px;
}
.footer .footlink .sec > a {
  margin: 0 8px;
}
.copyright {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #000;
  margin-top: 24px;
}
.copyright .sec {
  padding-left: 38px;
  color: #b4b5b7;
}
/* 解决方案 */
.innerbanner {
  display: block;
  height: 266px;
  background: url(../../UploadFile/PcSite/innerbanner01.png) center center no-repeat;
  padding-top: 34px;
}
.innerbanner .title {
  display: block;
  padding: 24px 0;
}
.innerbanner .info {
  line-height: 40px;
}
.column-nav {
  display: block;
  background-color: #333;
  height: 54px;
  line-height: 54px;
  position: relative;
}
.column-nav li {
  color: #fff;
  float: left;
  padding: 0 34px;
}
.column-nav li > a {
  font-size: 18px;
}
.column-nav li > a i {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}
.column-nav li:hover {
  background-color: #e04728;
  position: relative;
  z-index: 999;
  height: 66px;
  line-height: 66px;
  top: -6px;
  box-shadow: 0px 0px 5px #333;
}
/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
     * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
     *    Turn off all other ligatures, tabular, lining numerals, and alternates
     */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */
}
/* Headings
    ========================================================================== */
/**
     * 1. Turn on discretionary ligatures for larger headings
     */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}
/* Text-level semantics
    ========================================================================== */
/**
     * 1. Change all letters to uppercase
     * 2. Turn on small caps for upper and lowercase letters
     */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}
/*
     * TODO: Turn on diagonal fractions where appropriate
     */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/*
     * 1. Turn off kerning and ligatures,
     *    Turn on lining, tabular numerals, slashed zero
     */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Turn on proper supercript numerals
     */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}
/**
     * 1. Turn on proper subscript numerals
     */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}
/* Tables
    ========================================================================== */
/**
     * 1. Turns on tabular, lining numerals and slashed zero
     *    Turns off kerning, as it could impact tabular numerals
     */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Revert to defaults for table headings
     */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}
/* Forms
    ========================================================================== */
/**
     * 1. Turns on lining, proportional numerals without clarified zeroes
     * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
     */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "Microsoft YaHei";
  color: #2c3444;
  font-size: 14px;
  background: #f5f2f2;
}
a {
  color: inherit;
  text-decoration: none;
}
.hover a:hover {
  color: #e04728;
  text-decoration: underline !important;
}
select,
input {
  font-family: inherit;
}
/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('../../Font/PcSite/iconfont.eot');
  src: url('../../Font/PcSite/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../Font/PcSite/iconfont.woff') format('woff'), /* chrome、firefox */ url('../../Font/PcSite/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../Font/PcSite/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.dis-b {
  display: block !important;
}
.dis-i {
  display: inline-block !important;
}
.pos-r {
  position: relative;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
.font30 {
  font-size: 30px;
}
.font36 {
  font-size: 36px;
}
.font48 {
  font-size: 48px;
}
.fontw6 {
  font-weight: 600;
}
.fontw5 {
  font-weight: 500;
}
.fontw1 {
  font-weight: 100;
}
.ov-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.text-hide {
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.col-hei {
  color: #333;
}
.col-hui {
  color: #b4b5b7;
}
.col-dhui {
  color: #8e9ca5;
}
.col-red {
  color: #e04728;
}
.col-dred {
  color: #990000;
}
.col-bai {
  color: #fff;
}
.text-al {
  text-align: left;
}
.text-ac {
  text-align: center;
}
.text-ar {
  text-align: right;
}
.text-i24 {
  text-indent: 24px;
}
.lh24 {
  line-height: 24px;
}
.lh32 {
  line-height: 32px;
}
.text-udl {
  text-decoration: underline;
}
input::-webkit-input-placeholder {
  color: #b4b5b7 !important;
}
input:-moz-placeholder {
  color: #b4b5b7 !important;
}
input::-moz-placeholder {
  color: #b4b5b7 !important;
}
input:-ms-input-placeholder {
  color: #b4b5b7 !important;
}
.footer {
  display: block;
  overflow: hidden;
  background-color: #c7cbcc;
  margin-top: 24px;
}
.container {
  width: 100%;
}
.main {
  width: 1180px;
  margin: 0 auto;
}
.topnav {
  display: block;
  height: 32px;
  line-height: 32px;
  background-color: #eaeef1;
}
.topnav .top-link a {
  padding: 0 10px;
  height: 32px;
  display: inline-block;
  border-left: 1px solid #cdd6dd;
}
.topnav .top-link a:hover,
.topnav .top-link a:active {
  text-decoration: underline;
}
.topnav .top-link a.weixin {
  position: relative;
  background-color: #e04728;
  color: #fff;
}
.topnav .top-link a.weixin .weixin-pic {
  display: none;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: -20px;
  top: 24px;
  z-index: 999;
}
.topnav .top-link a.weixin .weixin-pic .arrow {
  display: block;
  height: 10px;
  background: url(../../Images/PcSite/weixinarrow.png) center 1px no-repeat;
  z-index: 99;
}
.topnav .top-link a.weixin .weixin-pic img {
  box-shadow: 0px 0px 5px #aaa;
  border: 1px solid #191919;
  box-sizing: border-box;
  z-index: 96;
}
.topnav .top-link a.weixin.on .weixin-pic {
  display: block;
}
.header {
  display: block;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 5px #ddd;
  border-bottom: 2px solid #e04728;
  height: 110px;
  width: 100%;
}
.header .logobox {
  display: block;
  overflow: hidden;
  float: left;
  width: 240px;
  height: 92px;
  margin-top: 10px;
}
.header .logobox img {
  width: 100%;
  vertical-align: top;
}
.header .navbox {
  display: block;
  float: right;
  margin-top: 20px;
}
.header .navbox li {
  display: block;
  overflow: hidden;
  float: left;
  line-height: 90px;
  padding: 0 28px;
  font-size: 18px;
  font-family: 'SimSun';
  background: url(../../Images/PcSite/navarrow.png) -14px bottom no-repeat;
  cursor: pointer;
}
.header .navbox li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header .navbox li.active,
.header .navbox li:hover,
.header .navbox li:active {
  color: #e04728;
  background: url(../../Images/PcSite/navarrow.png) center bottom no-repeat;
  transition-duration: .3s;
  -moz-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
}
.pd4 {
  padding: 4px 0;
}
.pd10 {
  padding: 10px 0;
}
.pd20 {
  padding: 20px 0;
}
.pdt36 {
  padding-top: 36px;
}
.pdl10 {
  padding-left: 10px;
}
.pdl20 {
  padding-left: 20px;
}
.pdl30 {
  padding-left: 30px;
}
.pdl52 {
  padding-left: 52px;
}
.pdr10 {
  padding-right: 10px;
}
.pdr20 {
  padding-right: 20px;
}
.pdb4 {
  padding-bottom: 4px;
}
.pdl4 {
  padding-left: 4px;
}
.pdr4 {
  padding-right: 4px;
}
.pdb30 {
  padding-bottom: 30px;
}
.pdt10 {
  padding-top: 10px;
}
.margin0 {
  margin: 0 auto;
}
.margin210 {
  margin: auto 210px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mb0 {
  margin: 0 !important;
}
.mb4 {
  margin-bottom: 4px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb16 {
  margin-bottom: 16px;
}
.mb26 {
  margin-bottom: 26px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml10 {
  margin-left: 10px;
}
.ml180 {
  margin-left: 180px;
}
.ml190 {
  margin-left: 190px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.ml24 {
  margin-left: 24px !important;
}
.mr24 {
  margin-right: 24px !important;
}
.mr54 {
  margin-right: 54px;
}
.w220 {
  width: 220px;
}
.w380 {
  width: 380px;
}
.w276 {
  width: 276px;
}
.w158 {
  width: 158px;
}
.w1020 {
  width: 1020px;
}
.h580 {
  height: 580px;
}
.h378 {
  height: 378px;
}
